.App{
  max-width: 1170px;
  margin: 50px auto 0;
  .items{
    width: 45%;
    border: 1px solid blue;
    div{
      border: 1px dashed green;
      margin-bottom: 5px;
    }
  }
  .wrap{
    display: flex;
    justify-content: space-between;
  }
}
.trigger__wrap{
  .trigger{
    .MuiFormLabel-root{
      &.Mui-focused{
        color: #3f51b5;
      }
    }
    .MuiInputBase-root{
      &.Mui-error{
        color: rgba(0, 0, 0, 0.54);
      }
      &.Mui-focused{
        .MuiOutlinedInput-notchedOutline{
          border-color: #3f51b5;
        }
      }
    }
    .MuiFormHelperText-root{
      display: none;
    }
  }
}